<nav class="navbar navbar-expand-sm">

    <div class="container-fluid">

      <a class="navbar-brand" routerLink="/home" routerLinkActive="router-link-active" >Pel&iacute;culas</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        </ul>

        <div class="d-flex float-right">
          <input 
              class="form-control mr-2" 
              type="search"
              placeholder="Buscar pel&iacute;cula"
              aria-label="Search"
              #txtBuscar
              (keyup.enter)="buscarPelicula( txtBuscar.value )"
            >
          <button
            (click)="buscarPelicula( txtBuscar.value )"
            class="btn btn-outline-success" type="submit"
          >Search</button>
        </div>

      </div>

    </div>

  </nav>